.main {
    width: 90%;
}

.main h1 {
    margin-left: 3vw;
    font-size: 50px;
}

.convDisplay {
    position:absolute;
    background-color: rgb(201, 201, 201);
    width:100%;
    min-height:60vh;
    height: 90%;
}

.convDisplay p {
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    font-family: "Times New Roman"; 
}

.convDisplay h2{
    text-align:center;
    background-color:rgb(150, 150, 150);
    color: goldenrod;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
    font-weight:900;
    font-family: "Times New Roman"; 
}

.convDisplay textarea{
    position:relative;
    bottom:0;
    padding-left:5px;
    margin: 2%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border-style: none;
    font-Size:20px;
    font-family: "Times New Roman"; 
    width:80%;
}

.convDisplay button {
    position:absolute;
    bottom:3%;
    right:3%;
    display:inline-block;
    font-size: 20px;
    margin: 2%;
}

.chatLog{
    max-height:45vh;
    overflow:scroll;
    overflow-x:hidden;
}
