h1 {
    font-size: 50px;
}
.main h1 {
    margin-left: 3vw;
}

.input {
    margin-left: 5vw;
    font-size: 22px;
}

.input textarea{
    width: 90vw;
    height: 20vh;
    margin-top: 33vh;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    border-style: none;
    font-Size:22px;
    font-family: "Times New Roman"; 
}

.input button {
    margin-top: 2vh;
    font-size: 18px;
}


.convDisplay p {
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}

.convDisplay {
    margin-bottom:10px;
}
