@font-face {
    font-family: mainFont;
    src: url(../Font.otf);
  }

/* * {
    font-family: mainFont;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(75, 73, 73);
    color: white;
    
  } */

  body {
    font-family: mainFont;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #d6d3d3; /* Light gray color */
    color: white;
}

  :root{
    --mainColor:grey;
    --mainColorLight: purple;
    --textColor: white;
    --secondaryTextColor: brown;
    --modalBackgroundColor: #e0e0e0;
  }

  header {
    display: flex;
    align-items: center;
    background-color: var(--mainColorLight);
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--secondaryTextColor);
  }

  h3 {
    background-color: var(--mainColor);
  }

  nav {
    background-color: var(--mainColor);
  }

  nav a {
    margin: 0 2rem;
    color: var(--secondaryTextColor);
    text-decoration: none;
    font-size: 20px;
    background-color: var(--mainColor);
    
  }

  nav a:hover{
    color: var(--textColor);
  }

  .DevChatButton {
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 20px; /* Distance from the bottom of the viewport */
    right: 20px; /* Distance from the right of the viewport */
    z-index: 1000; /* Ensure it's above other content */
    /* Add any additional styling for the button here */
}

